<div class="w-screen h-screen flex flex-col items-center mt-40">
  <p style="color: green"><%= notice %></p>

  <%= render @meeting %>

  <div class="mt-12">
    <%= link_to "Voltar", meetings_path, :class => "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  </div>
</div>
